@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.8rem;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: "Roboto", sans-serif;
}

.right-container {
  background-color: rgb(117, 117, 117);
}

.left-container {
  background-color: rgb(209, 209, 209);
}

.logo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 150px;
  height: 150px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: #ffffff;
  text-align: center;
}

.logo-bar:first-child {
  font-size: 1.5rem;
}

.description {
  height: 33vh;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}

.dummy-text {
  width: 75%;
}

.form-container {
  background-color: aquamarine;
  height: 40vh;
  display: flex;

  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  /* width: 80%; */
}

.form-title {
  margin-bottom: 10px;
}

.form-inputs {
  display: flex;
  gap: 20px;
}

.left-inputs {
  display: flex;
  flex-direction: column;
}

.right-inputs {
  display: flex;
  flex-direction: column;
}
