@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.8rem;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: "Roboto", sans-serif;
}

.right-container {
  display: flex;
  flex-direction: column;
  background-color: #f8fafb;
}

.left-container {
  background-color: rgb(209, 209, 209);
}

.logo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 140px;
  height: 100px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: #ffffff;
  text-align: center;
}

.logo-bar:first-child {
  font-size: 1.5rem;
}

.description {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.dummy-text {
  padding: 50px;
  width: 75%;
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  background-color: #ffffff;
  box-shadow: 1px 4px 5px #e2e2e2;
  padding: 50px;
}

.form-title {
  margin-bottom: 20px;
}

.form-inputs {
  display: flex;
  gap: 70px;
}

input {
  margin-bottom: 20px;
  padding: 2px;
  font-size: 1rem;
  border: none;
  box-shadow: 1px 1px 4px #888888;
  border-radius: 4px;
}

.left-inputs {
  display: flex;
  flex-direction: column;
}

.right-inputs {
  display: flex;
  flex-direction: column;
}

.submit-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  padding: 20px 50px;
}

.submit-container button {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 40px;
  background-color: #586d48;
  border-radius: 7px;
  color: #fff;
  border: none;
  outline: none;
  transition: transform 0.1s ease-in;
}

.submit-container button:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.login-text {
  margin-top: 30px;
}

.login {
  color: #586d48;
  text-decoration: none;
}
