@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.8rem;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

.right-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #f8fafb;
}

.left-container {
  background: url(img/water.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 134px;
  height: 120px;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: #ffffff;
  text-align: center;
}

.logo-bar:first-child {
  font-size: 1.5rem;
}

.credit {
  font-size: 0.8rem;
  color: #ffffff;
  position: absolute;
  bottom: 3px;
}

.credit a {
  color: #fff;
  text-decoration: underline;
}

.description {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.dummy-text {
  padding: 50px;
  width: 75%;
  font-size: 1.2rem;
}
.form-container {
  flex-grow: 1;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 1px 4px 2px #e2e2e2;
  padding: 10px 50px;
}

.form-title {
  margin-bottom: 20px;
}

.form-inputs {
  display: flex;
  gap: 70px;
}

input {
  margin-bottom: 20px;
  padding: 2px;
  font-size: 1rem;
  border: none;
  box-shadow: 1px 1px 3px #c2c2c2;
  border-radius: 4px;
}

.left-inputs {
  display: flex;
  flex-direction: column;
}

.right-inputs {
  display: flex;
  flex-direction: column;
}

.submit-container {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  align-items: flex-start;
  padding: 20px 50px;
  height: 100%;
}

.submit-container button {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 40px;
  background-color: #6d99b1;
  border-radius: 7px;
  color: #fff;
  border: none;
  outline: none;
  transition: transform 0.1s ease-in;
}

.submit-container button:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.login-text {
  margin-top: 30px;
}

a {
  color: #6d99b1;
  text-decoration: none;
}

@media only screen and (max-width: 940px) {
  .main {
    height: 100%;
    grid-template-columns: 1fr;
  }
  .logo-bar {
    position: static;
    height: 100%;
  }

  .left-container {
    height: 40vh;
  }

  .description {
    justify-content: center;
  }

  .form {
    align-items: center;
  }
  .submit-container {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 620px) {
  .dummy-text {
    align-self: center;
    font-size: 1.5rem;
  }
  .form-inputs {
    flex-direction: column;
    gap: 0;
  }

  .submit-container {
    height: 100%;
  }
}
